# Background file
A file for things i only run once.

## Loading DB from Sqlite-DB to DuckDB

In [1]:
import duckdb

duckdb_path = "data/sakila.duckdb"

with duckdb.connect(duckdb_path) as conn, open("sql/load_sakila.sql") as ingest_script:
    conn.sql(ingest_script.read())

    discription = conn.sql("DESC;").df()

discription

,database,schema,name,column_names,column_types,temporary
0,sakila,main,actor,"[actor_id, first_name, last_name, last_update]","[DOUBLE, VARCHAR, VARCHAR, TIMESTAMP]",False
1,sakila,main,address,"[address_id, address, address2, district, city...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, VA...",False
2,sakila,main,category,"[category_id, name, last_update]","[BIGINT, VARCHAR, TIMESTAMP]",False
3,sakila,main,city,"[city_id, city, country_id, last_update]","[BIGINT, VARCHAR, BIGINT, TIMESTAMP]",False
4,sakila,main,country,"[country_id, country, last_update]","[BIGINT, VARCHAR, TIMESTAMP]",False
5,sakila,main,customer,"[customer_id, store_id, first_name, last_name,...","[BIGINT, BIGINT, VARCHAR, VARCHAR, VARCHAR, BI...",False
6,sakila,main,customer_list,"[ID, name, address, zip_code, phone, city, cou...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, VARCHAR, V...",False
7,sakila,main,film,"[film_id, title, description, release_year, la...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, BIGINT, BI...",False
8,sakila,main,film_actor,"[actor_id, film_id, last_update]","[BIGINT, BIGINT, TIMESTAMP]",False
9,sakila,main,film_category,"[film_id, category_id, last_update]","[BIGINT, BIGINT, TIMESTAMP]",False
10,sakila,main,film_list,"[FID, title, description, category, price, len...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, DOUBLE, BI...",False
11,sakila,main,film_text,"[film_id, title, description]","[BIGINT, VARCHAR, VARCHAR]",False
12,sakila,main,inventory,"[inventory_id, film_id, store_id, last_update]","[BIGINT, BIGINT, BIGINT, TIMESTAMP]",False
13,sakila,main,language,"[language_id, name, last_update]","[BIGINT, VARCHAR, TIMESTAMP]",False
14,sakila,main,payment,"[payment_id, customer_id, staff_id, rental_id,...","[BIGINT, BIGINT, BIGINT, BIGINT, DOUBLE, TIMES...",False
15,sakila,main,rental,"[rental_id, rental_date, inventory_id, custome...","[BIGINT, TIMESTAMP, BIGINT, BIGINT, TIMESTAMP,...",False
16,sakila,main,sales_by_film_category,"[category, total_sales]","[VARCHAR, DOUBLE]",False
17,sakila,main,sales_by_store,"[store_id, store, manager, total_sales]","[BIGINT, VARCHAR, VARCHAR, DOUBLE]",False
18,sakila,main,staff,"[staff_id, first_name, last_name, address_id, ...","[BIGINT, VARCHAR, VARCHAR, BIGINT, BLOB, VARCH...",False
19,sakila,main,staff_list,"[ID, name, address, zip_code, phone, city, cou...","[BIGINT, VARCHAR, VARCHAR, VARCHAR, VARCHAR, V...",False
20,sakila,main,store,"[store_id, manager_staff_id, address_id, last_...","[BIGINT, BIGINT, BIGINT, TIMESTAMP]",False